h1 {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 50px;
}

#calculator {
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    
}

#employeesData {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#employeesData td,
#employeesData th {
    border: 1px solid #ddd;
    padding: 8px;
}

#employeesData tr:nth-child(even) {
    background-color: #f2f2f2;
}

#employeesData tr:hover {
    background-color: #ddd;
}

#employeesData th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
}

input[type=submit]:hover {
    background-color: rgb(0, 0, 187);
}

#totalMonthlySalary {
    text-align: right;
    padding: 15px 20px;
}
